<h2><%= t('navbar_content_nodes.add_to_navbar') %></h2>
<div class="content">
  <%= f.input :id, label: false, as: :select, collection: @content_nodes_for_selection, include_blank: false, input_html: { name: 'id' } %>
</div>
